html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* section scroll */
    scroll-behavior: smooth;
}

body {
    background: #000000;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
    /* section scroll */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* no scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    display: none;
}

/* SECTION */
section {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* section scroll */
    scroll-snap-align: start;
}

#landing { 
    background: url('../assets/backgrounds/background_landing.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}
#portfolio { 
    background: url('../assets/backgrounds/background_portfolio.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #111111; 
}
#curriculum { 
    background: url('../assets/backgrounds/background_curriculum.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* INTRODUCTION */
.left {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: left;
}
.right {
    width: fit-content;
    margin-left: auto;
    text-align: right;
    font-size: 2.5rem;
}

#introduction {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.5rem;

    max-width: 1400px;
    width: 90%;
    margin: 0rem auto;
}
#introduction p {
    margin: 0.4rem;
    /* hover */
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1)
}
#introduction img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 0.8rem 0.3rem;
    vertical-align: middle;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}

.left p:hover{
    transform: scale(0.95) translateX(-20px);
}
.right p:hover {
    transform: scale(0.95) translateX(20px);
}
#introduction img:hover {
    transform: scale(1.2);
}

/* NAVIGATION */
#topNavigation {
    position: fixed;
    top: 1rem;
    right: 1rem;
    writing-mode: vertical-lr;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}
#topNavigation a {
    display: inline-block;
    text-decoration: none;
    color: #ff0000a2;
    margin: 0.1rem;
    /* hover */
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

#navigation {
    width: fit-content;
    height: fit-content;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    writing-mode: sideways-lr;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}
#navigation a {
    display: inline-block;
    text-decoration: none;
    color: #ff0000a2;
    margin: 0.1rem;
    /* hover */
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
#topNavigation a:hover {
    transform: scale(1.1) translateY(5px);
}
#navigation a:hover {
    transform: scale(1.1) translateY(-10px);
}
.hidden {
    display: none;
}

/* PORTFOLIO */
.buttonArea {
    display: flex;
    justify-content: center;
    margin: 0rem 5rem;
}
.buttonArea button {
    border: none;
    background: transparent;
    font-size: 2rem;
    color: black;
    margin: 0rem 3rem;
    letter-spacing: 0.1rem;
    /* hover */
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
}
.buttonArea button:hover {
    transform: scale(1.2) translateZ(30px);
}
.buttonArea button.active {
    color: #ff0000a2;
}

.portfolioBox {
    background: url('../assets/backgrounds/background_portfolioBox.jpg') no-repeat center center fixed;
    color: white;
    border-radius: 12px;

    max-width: 800px;
    width: 90%;
    margin: 2rem auto;

    padding: 5rem 1.4rem;
    height: 60vh;
    justify-content: center;
    align-items: center;
    /* buttons */
    display: none;
}
.portfolioBox.active {
    display: flex;
    flex-direction: column;
}

.portfolioBoxInfo {
    margin: 0.4rem;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 0.2rem;
    /* hover */
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.portfolioBoxInfo:hover {
    transform: scale(0.9) translateZ(30px);
}


/* EXPERIENCE BOX */
.experienceButtons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    max-width: 650px;
    flex-wrap: wrap;
}
.experienceButtons button {
    border: none;
    background: transparent;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.2rem;
    /* hover */
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
}
#experienceButtonsPROJECTS button {
    font-size: 1.2em;
}
.experienceButtons button.active {
    color: #ff0000a2;
}
.experienceButtons button:hover {
    transform: scale(1.2) translateZ(30px);
}

.experienceBoxBorder {
    background: url('../assets/backgrounds/background_portfolio.jpg') no-repeat center center fixed;
    border-radius: 12px;

    padding: 0.4rem;
    margin-top: 0.8rem;

    max-width: 530px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.experienceBox {
    background: url('../assets/backgrounds/background_portfolioBox.jpg') no-repeat center center fixed;
    color: white;
    border-radius: 8px;

    padding: 0rem 1rem;

    height: fit-content;
    width: 100%;

    display: none;
    align-items: flex-start;
}
.experienceBox.active {
    display: flex;
}

.boxCompanyName {
    writing-mode: sideways-lr;
    margin-top: 1rem;
    margin-right: 1rem;
    letter-spacing: 0.4em;
    font-size: 1.5rem;
    font-weight: 600;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}
.boxCompanyName a {
    color: inherit;
    text-decoration: none;
}

.boxExperienceContent {
    flex: 1;
    max-height: 58vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0.5rem;
}

.boxExperienceTitle {
    width: fit-content;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 2.5rem;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}

.boxExperienceInfos {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.15em;
}
.boxExperienceInfos span {
    display: block;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}
.boxExperienceInfos span:first-child {
    text-align: left;
    margin-bottom: 0.2rem;
}
.boxExperienceInfos span:last-child {
    text-align: right;
    margin-top: 0.8rem;
}

.boxSkillsImages {
    margin: 0;
    margin-top: 0.5rem;
}
.boxSkillsImages img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    margin: 0.8rem 0.3rem;
    vertical-align: middle;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}

.boxDetailsList {
    margin: 0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0;
    letter-spacing: 0.1rem;
}
.boxDetailsListItem {
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}

.boxOther {
    margin: 0rem;
}
#job_zucchetti_softwareDeveloper_internship_other {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
    color: #0284c7;
}
#job_zucchetti_softwareDeveloper_internship_other a {
    color: inherit;
    text-decoration: none;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}
#job_ergonInformatica_softwareEngineer_project_other {
    height: 0.5rem;
}
#job_tiesseInformatica_softwareDeveloper_seasonal_other {
    height: 1rem;
}
#education_highschool_fermi_other {
    height: 0.5rem;
}
#education_bachelors_unipd_other {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
    color: #b91c1c;
}
#education_bachelors_unipd_other a {
    color: inherit;
    text-decoration: none;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}
#education_japanese_sng_other {
    height: 0.5rem;
}
#projects_bsc_other {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
    color: #b91c1c;
}
#projects_bsc_other a {
    color: inherit;
    text-decoration: none;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}

.boxCompanyName:hover {
    transform: scale(1.1) translateY(10px); 
}
.boxExperienceTitle:hover {
    transform: scale(0.9) translateX(-20px); 
}
.boxExperienceInfos span:hover {
    transform: scale(0.9) translateX(-20px);
}
.boxExperienceInfos span:last-child:hover {
    transform: scale(0.9) translateX(20px);
}
.boxDetailsListItem:hover {
    transform: scale(0.95) translateX(-10px);
}
.boxSkillsImages img:hover {
    transform: scale(1.2);
}
#job_zucchetti_softwareDeveloper_internship_other a:hover {
    transform: scale(1.2);
}
#education_bachelors_unipd_other a:hover {
    transform: scale(1.2);
}
#projects_bsc_other a:hover {
    transform: scale(1.2);
}

#highlightedSkills {
    display: inline;
    text-align: center;
    font-size: 1.3rem;
}
#highlightedSkills span {
    display: inline-block;
    color: black;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}
#highlightedSkills img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin: 0.8rem 0.3rem;
    vertical-align: middle;
    /* hover */
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1)
}
#highlightedSkills span:hover {
    transform: scale(1.1);
}
#highlightedSkills img:hover {
    transform: scale(1.2);
}

/* CURRICULUM */
#curriculumButtons {
    margin-top: auto;
}
#curriculumButtons button {
    color: white;
}
#curriculumButtons button.active {
    color: #ff0000a2;
}

.curriculumBox {
    text-align: center;
    display: none;
    margin-top: 2rem;
}
.curriculumBox.active {
    display: block;
}
.curriculumImg {
    height: 70vh;
    width: auto;
}

.downloadButton {
    border: none;
    background: transparent;
    font-size: 2rem;
    color: white;
    margin: 1rem 0rem;
    /* hover */
    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
}
.downloadButton:hover {
    transform: scale(1.2) translateZ(30px);
    color: #ff0000a2;
}

/* FOOTER */
footer {
    text-align: center;
    font-size: 0.9rem;
    margin: 1rem;
    color: white;
    margin-top: auto;
}

footer p {
    margin: 0.25rem;
}

footer img {
    width: 0.8rem;
    height: 0.8rem;
    object-fit: contain;
    margin: 0 0.1rem;
    vertical-align: middle;
}

@media (max-width: 768px) {
    section {
        height: auto;     
        min-height: 100vh; 
    }

    #landing, #portfolio, #curriculum {
        background-attachment: scroll;
    }

    .right {
        font-size: 1.5rem;
    }

    #topNavigation {
        writing-mode: horizontal-tb;
        top: 0.5rem;
    }

    #navigation {
        writing-mode: horizontal-tb;
        top: 0.5rem;
        left: 0.5rem;
    }

    #avigation a:hover {
        transform: scale(1.1) translateY(5px);
    }

    #introduction {
        font-size: 1.5rem;
    }

    #introduction img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin: 0.6rem;
        vertical-align: middle;
    }   

    .buttonArea button {
        font-size: 1.5rem;
        margin: 0rem;
        letter-spacing: 0.05rem;
    }

    .portfolioBox {
        margin: 2rem auto;
        padding: 0.8rem 1.4rem;
    }

    .portfolioBoxInfo {
        display: none;
    }

    .experienceButtons {
        display: none;
    }

    .boxExperienceTitle {
        font-size: 2rem;
    }

    .boxExperienceInfos {
        font-size: 0.9rem;
    }

    .boxSkillsImages img {
        height: 26px;
        width: 26px;
    }

    .boxDetailsList {
        margin-left: 1.2rem;
        margin-right: 1rem;
    }

    .curriculumImg {
        width: auto;
        height: 60vh;
    }

    .downloadButton {
        font-size: 1.5rem;
    }
    
    footer {
        text-align: right;
        margin-left: 4rem;
    }
}