html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* section scroll */
    scroll-behavior: smooth;
}

body {
    background: #111111;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
    /* section scroll */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    justify-content: center;
    /* section scroll */
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

#landing { background: #111111; color: white; }
#history { background: #f2f2f2; color: #111111; }
#curriculum { background: #111111; color: white; }

#introduction {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 1rem;
}

.bigText {
    font-size: 3rem;
    font-weight: 600;
}

#introduction p {
    margin: 0;
    margin-bottom: 0.8rem;
}

#introduction img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin: 1rem 2rem;
    vertical-align: middle;
}

#preFooter {
    flex: 1;
}

footer {
    text-align: center;
    margin: 1rem;
}

footer div {
    display: inline-block;

    background: #ffffff;
    color: #111111;
    border-radius: 0.75rem;
    box-shadow: 
        6px 6px 40px rgba(0, 0, 0, 0.2),
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    width: fit-content;
    height: fit-content;
}

footer p {
    margin: 0.25rem;
}

footer img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    margin: 0 0.1rem;
    vertical-align: middle;
}

@media (max-width: 768px) {
    html {
        scroll-snap-type: none;
    }

    section {
        height: auto;     
        min-height: 100vh; 
    }

    #introduction {
        font-size: 1.2rem;
    }

    .bigText {
        font-size: 2rem;
        font-weight: 600;
    }

    #introduction img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin: 1rem 1.4rem;
        vertical-align: middle;
    }   

    footer {
        font-size: 0.8rem;
    }

    footer img {
        width: 0.5rem;
        height: 0.5rem;
    }
}